# Default SQLite Database for Development
DATABASE_URL=sqlite:///./label_lens.db

# Cloudinary image storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# PostgreSQL Configuration for Staging/Production:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/labellens
